<!DOCTYPE html>
<footer class="footer" th:fragment="foooter" xmlns:th="http://www.thymeleaf.org">
    <div class="container fixed-container footer-container d-flex justify-content-center align-items-center">
        <div class="project-info h-100 text-center">
            <p class="description">This project comes out from road map</p>
        </div>
        <div class="creators-info h-100 text-center">
            <p class="description">This project comes out from road map</p>
        </div>
    </div>
</footer>